.myTheme .hg-button {
  background-color: #14213D;
  color: #E5E5E5;
}

.myTheme {
  background-color: #E5E5E5;
}

.myTheme .hg-button:active {
  background-color: #FCA311;
  color: #000;
}

.myTheme .hg-button.activeKey {
  background-color: #FCA311;
  color: #000;
}

